<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block meta_data %}{% endblock %}
    {% block css_head %}{% endblock %}
    {% block js_head %}{% endblock %}
</head>
<body>
    <div class="main_wrap">
        <div class="wrap_head">
            {% block content_head %}{% endblock %}
        </div>
        <div class="wrap_content">
            {% if alerts|length > 0 %}
            <div class="alert-wrapper">
                {% for alert in alerts %}
                <div class="alert alert-{{ alert.color }}" role="alert">
                    {% if alert.title %}
                    <h4 class="alert-heading">{{ alert.title }}</h4>
                    {% endif %}
                    {{ alert.text }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% block content_body %}{% endblock %}
        </div>
        <div class="wrap_footer">
            {% block content_footer %}{% endblock %}
        </div>
    </div>
</body>
</html>
