{% extends "main.layout.html" %}

{% block content_body %}
<div class="content">
    <h1>Hello on dankovtsev.pro!</h1>
    <p>Добро пожаловать на замечательный сайт визитку!</p>
    <p>Hello! My name is Alexander Dankovtsev</p>
    <p>It is login page</p>
    <div class="login-form">
        <form action="" method="post">
            <div class="row">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" {% if form.email %}value="{{ form.email }}"{% endif %}/>
            </div>

            <div class="row">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div>

            <button>Enter</button>
            <a href="/registration">Регистрация</a>
        </form>
    </div>
</div>
{% endblock %}
