.content {
}

.main_wrap {

}

.wrap_head {

}

.wrap_content {

}

.wrap_footer {

}

.wrap_head .head {
    width: 100%;
}

.wrap_head .head .menu {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: row;
    display: flex;
}

.wrap_head .head .menu li {
    display: list-item;
    box-sizing: border-box;
    position: relative;
}

.wrap_head .head .menu li a {

}

.wrap_content .content {

}

.wrap_content .content h1 {

}

.wrap_content .content p {

}
